Your username is <%= @name %>. 
Your new password is <%= @password %>. 
Please login and change it to something more memorable.


<br>
<br>
<a href="http://localhost:3000/user/savepassword/<%= @user_id %>?value=<%= @password %>">
http://localhost:3000/login/savepassword/<%= @user_id %>?value=<%= @password %></a>