Your username is <%= @name %>. 
Your new password is <%= @pass %>. 
Please login and change it to something more memorable.


<br>
<br>
<a href="http://localhost:3000/user/save_new_password/<%= @user_id %>?value=<%=@pass %>">
http://localhost:3000/user/save_new_password/<%= @user_id %>?value=<%=@pass %></a>