 
 <html><title>CHANGE PASSWORD</title>
 <body bgcolor="#F08673">
<p><%= error_messages_for 'user' %></p>
<p>&nbsp;</p>
<p>
  <% form_for :user do |form| %>
</p>

 <p align="center">&nbsp;</p>  

  <div align="center">
    <table width="30%" border="2">
      <tr>
        <th colspan="2" scope="col">CHANGE YOUR PASSWORD</th>
      </tr>
      <tr>
        <th colspan="2" scope="row">Pick a new password for <span><%= @user.email %></span></th>
      </tr>
      <tr>
        <th scope="row"><label for="user_name" >Name:</label></th>
        <td><%= form.text_field :name, :size => 40 %></td>
      </tr>
      <tr>
        <th scope="row"><p><label for="Old Password:" >Old Password:</label>
          </p></th>
        <td><%= form.password_field :password, :size => 40 %> </td>
      </tr>
      <tr>
        <th scope="row"><label for="New Password" >New Password:</label></th>
        <td><%= form.password_field :password, :size => 40 %> </td>
      </tr>
      <tr>
        <th scope="row"><label for="Confirm" >Confirm:</label></th>
        <td><%= form.password_field :password_confirmation, :size => 40 %> </td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><label for="Confirm" ><%= submit_tag "Change Password" , :class => "submit" %></label></th>
      </tr>
      </table>
  </div>
  <p>


<label for="user_name" ></label>
 </p>
<p>
<label for="New Password" ></label>
</p>

<p>
<label for="Confirm" ></label>
</p>
<% end %>

 </body>

</html>