
<%= flash[:notice] %><title>CHANGE PASSWORD</title>
<div align="center" style="height:250px;width:350px;margin-left:320px;background-color:#00CCFF; 
  display:<%= @dis %>";  >
  <div  style="height:40px;background-color:#CCCCCC;">
  <font color="#FFFFFF" >
  <h1>Change password</h1>
  </font>
  </div>


<br/><b>

<% form_for (:user,  :url => {:action => "changepassword"},  :html => {:multipart => true}) do  %> 
<table >


  <tr>
    <td>&nbsp;Old Password</td>
    <td>:&nbsp;</td>
    <td id="fonts">&nbsp;<%= password_field_tag 'oldpassword',@opwd %>
	         
  </tr>
   <tr>
    <td>&nbsp;Password</td>
    <td>:&nbsp;</td>
    <td id="fonts">&nbsp;<%=  password_field(:user, :password, :size => 15)%>
	<%#= text_field :user,:author_confirmation,:size=>15 %>
	         <%= error_message_on :user, :password %><%#= error_message_on :user, :author_confirmation %></td>
  </tr>
  <tr>
    <td>&nbsp;Password Again</td>
    <td>:&nbsp;</td>
    <td id="fonts">&nbsp;<%=  password_field(:user, :password_confirmation, :size => 20)%>
	<%#= text_field :user,:author_confirmation,:size=>15 %>
	         <%= error_message_on :user, :password_confirmation %><%#= error_message_on :user, :author_confirmation %></td>
  </tr>
    <tr><td colspan="3">&nbsp;</td>
	</tr>
    <tr>
    
    <td colspan="3" align="center" ><%= submit_tag "Update" %>
	
	 </td>
  </tr>
</table>
<% end %>
</div>