 <html>
 <body>

<%= form_tag :controller=>'user',:action=>'forgot_password'%>

<div align="right"><%= link_to "LOGOUT",:controller=>"user", :action => "logout" %></div>
<h3 align="center">&nbsp;</h3>

<div align="center">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><%= flash[:notice3] %>&nbsp;</p>
  <table width="327" border="1">
    <tr>
      <td colspan="3"><div align="center" class="style1">Forgotten password</div></td>
    </tr>
    <tr>
      <td width="106"><span class="style2">Email: </span></td>
      <td width="50"><%= text_field "user","email" %></td><%= error_messages_for 'user' %>
      <td width="147">&nbsp;</td>
    </tr>
    <tr>
      <td><br/>
        <%= submit_tag 'Email password'  %> </td>
      <td>&nbsp;</td>
      <td><%= link_to "Back",:action=>"index"  %>&nbsp;</td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
</body>
</html>