
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>

<%flash[:notice]%>
<%#= link_to "create new user", :action => "edit" %><br /><br />


<% for profile in @profiles %>
<p><%=profile .fname %></p>
<p><%= profile.lname %> </p>
<p><%= profile.email %>  </p>
<p><%= profile.address %>  </p>

<%= link_to "Edit", :action=>"edit", :id =>profile.id %>
<%= link_to "Delete", :action=>"delete", :id =>profile.id %><br />

<%end%>



</body>
</html>

